/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Global */
h4, h2, h1 {
  font-weight: 600;
}

.navbar {
  background-color: #1F95EF;
  width: 100%;
}
.navbar h4 {
  color: #ffffff;
}
.navbar a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  /*background-color: $light-blue;*/
}

.bold {
  font-weight: 600;
}

.underline-none {
  text-decoration: none;
}

.sidebar {
  background-color: #161734;
  border: none;
  margin-bottom: 0;
}
.sidebar .menuSidebar .row {
  transition: background-color 0.3s;
}
.sidebar .menuSidebar .row a {
  color: #F5FAFE;
}
.sidebar .menuSidebar .row:hover {
  background-color: black;
}

/********************** index.php **************************/
.index {
  background-color: #F5FAFE;
}
.index #home h2 {
  color: #161734;
}
.index #home button {
  background-color: #ffffff;
  border: none;
  font-weight: 600;
  box-shadow: 4px 4px 4px rgba(22, 23, 52, 0.3);
  transition: padding 0.3s, box-shadow 0.3s;
}
.index #home button:hover {
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 6px 6px 6px rgba(22, 23, 52, 0.6);
}
.index #home #loginUser {
  color: #161734;
}
.index #home #loginAdmin {
  color: #fe5f55;
}
.index #containerLoginUser, .index #containerLoginAdmin {
  display: none;
}
.index #containerLoginUser h4, .index #containerLoginAdmin h4 {
  font-family: "Poppins", sans-serif;
  color: #161734;
}
.index #containerLoginUser button, .index #containerLoginAdmin button {
  background-color: #161734;
  box-shadow: 4px 4px 4px rgba(22, 23, 52, 0.6);
  border: none;
  transition: background-color 0.3s, padding 0.3s;
}
.index #containerLoginUser button:hover, .index #containerLoginAdmin button:hover {
  background-color: #1F95EF;
  padding: 10px;
}
.index #containerLoginUser button:active, .index #containerLoginAdmin button:active {
  box-shadow: none;
}
.index #containerLoginAdmin h4 {
  color: #fe5f55;
}

/********************** lamanUser.php **************************/
.lamanUser {
  background-color: #161734;
}
.lamanUser .navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.lamanUser .navbar .container .row .col-md-3 form button {
  background-color: #F5FAFE;
  color: #161734;
  box-shadow: 4px 4px 4px 4px rgba(22, 23, 52, 0.3);
  transition: padding-inline 0.3s ease, box-shadow 0.3s ease;
  border: none;
}
.lamanUser .navbar .container .row .col-md-3 form button:hover {
  padding-inline: 30px;
}
.lamanUser .navbar .container .row .col-md-3 form button:active {
  box-shadow: none;
  background-color: #161734;
  color: #F5FAFE;
}
.lamanUser .mainContent {
  background-color: #F5FAFE;
  min-height: 100vh;
}
.lamanUser .mainContent .body {
  background-color: #F5FAFE;
}
.lamanUser .mainContent .body .profilLamanUser, .lamanUser .mainContent .body .dataPegawaiLamanUser, .lamanUser .mainContent .body .akunLamanUser {
  display: none;
}

/********************** lamanAdmin.php **************************/
.lamanAdmin {
  background-color: #161734;
}
.lamanAdmin .navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.lamanAdmin .navbar .container .row .col-md-3 form button {
  background-color: #F5FAFE;
  color: #161734;
  box-shadow: 4px 4px 4px 4px rgba(22, 23, 52, 0.3);
  transition: padding-inline 0.3s ease, box-shadow 0.3s ease;
  border: none;
}
.lamanAdmin .navbar .container .row .col-md-3 form button:hover {
  padding-inline: 30px;
}
.lamanAdmin .navbar .container .row .col-md-3 form button:active {
  box-shadow: none;
  background-color: #161734;
  color: #F5FAFE;
}
.lamanAdmin .mainContent {
  background-color: #F5FAFE;
  min-height: 100vh;
}
.lamanAdmin .mainContent .body {
  background-color: #F5FAFE;
}
.lamanAdmin .mainContent .body .editLamanAdmin, .lamanAdmin .mainContent .body .tambahLamanAdmin {
  display: none;
}
.lamanAdmin .mainContent .body .tambahLamanAdmin form button {
  background-color: #161734;
  box-shadow: 4px 4px 4px rgba(22, 23, 52, 0.6);
  border: none;
  color: #F5FAFE;
  transition: background-color 0.3s, padding 0.3s;
}
.lamanAdmin .mainContent .body .tambahLamanAdmin form button:hover {
  background-color: #1F95EF;
  padding: 10px;
}
.lamanAdmin .mainContent .body .tambahLamanAdmin form button:active {
  box-shadow: none;
}

/********************** editAdmin.php **************************/
.lamanAdminEdit {
  background-color: #F5FAFE;
}
.lamanAdminEdit .navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}
.lamanAdminEdit .navbar .container .row .col-md-3 form button {
  background-color: #F5FAFE;
  color: #161734;
  box-shadow: 4px 4px 4px 4px rgba(22, 23, 52, 0.3);
  transition: padding-inline 0.3s ease, box-shadow 0.3s ease;
  border: none;
}
.lamanAdminEdit .navbar .container .row .col-md-3 form button:hover {
  padding-inline: 30px;
}
.lamanAdminEdit .navbar .container .row .col-md-3 form button:active {
  box-shadow: none;
  background-color: #161734;
  color: #F5FAFE;
}/*# sourceMappingURL=style.css.map */